
<p id="notice"></p>
<div class="container px5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
<h1>User info</h1>
<%= image_tag @book.user.get_profile_image(100, 100) %>
<table class="table">
  <tr>
    <th>name</th>
    <th><%= @book.user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @book.user.introduction %></th>
  </tr>
</table>

<div class="row">
<%= link_to edit_user_path do %>
<i class="fa-solid fa-user-gear"></i>
<% end %>
</div>

<h1>New Book</h1>
<%= form_with model: @book_new do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :body %><br>
<%= f.submit "CreateBook" %>
<% end %>

<h1>Book detail</h1>
<table>
<%= form_with model: @book do |f | %>
  <tr>
    <th><%= image_tag @book.user.get_profile_image(100, 100) %><br>
    <%= link_to @book.user.name, user_path(@book.user.id) %></th><
    <th><%= link_to @book.title, book_path(@book.id) %></th>
    <th><%= @book.body %></th>
    <% if @book.user == current_user %>
    <th><%= link_to "Edit", edit_book_path %></th>
    <th><%= link_to "Destroy", book_path, method: :delete %></th>
    <% end %>
  </tr>
<% end %>
</table>
</div>
</div>
</div>
